@import url("./Gilroy Font/stylesheet.css");

:root {
  font-family: 'Gilroy';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position:relative; 
  min-height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

.Footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 1px;
  right: 0;
  width: 100%;
  height: 367px;
  font-weight: 400;
  font-size: 16px;
}

svg {
  translate: 0 2px;
  transform: scale(1.25);
  padding-right: 8px;
}

.Card1 {
  width: 249px;
  height: 237px;
  font-weight: 400;
  color: #616161;
}

.Card2 {
  width: 104px;
  height: 229px;
  font-weight: 400;
  color: #616161;
}

.Card3 {
  width: 93px;
  height: 189px;
  font-weight: 400;
  color: #616161;
}

.Card4 {
  width: 180px;
  height: 151px;
  font-weight: 400;
  color: #616161;
}

.Card5 {
  width: 292px;
  height: 90px;
  font-weight: 400;
  color: #616161;
}

.SmallHead {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-bottom: -1px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: #1a1a1a;
  }
}
